@model EBBProc.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@section breadcrumps{
    <div class="row">
        <div class="column">
            <div class="ui breadcrumb">
                <a class="section" href="/">Home</a>
                <i class="right angle icon divider"></i>
                <div class="section">settings</div>
                <i class="right angle icon divider"></i>
                <div class="active section">change password</div>
            </div>
        </div>
    </div>
}

<div class="sixteen wide tablet two wide computer column">
    <div class="ui vertical secondary pointing fluid tabular menu">
        <a class="item" href="@Url.Action("index", "profile", new { area = "me"})">
            Profile
        </a>
        <a class="item active" data-tab="security">
            Change password
        </a>
        <a class="item" href="@Url.Action("addphonenumber", "manage", new { area = ""})">
            Phone number
        </a>
    </div>
</div>

<div class="sixteen wide tablet fourteen wide computer column">
    <div class="ui segment">
        <div class="ui tab active" data-tab="security">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "ui form form1 segment", role = "form" }))
            {
                <h3 class="ui header">
                    Change Password
                </h3>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="ui hidden divider"></div>
                <div class="field">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
                <div class="ui blue submit button">
                    <i class="save icon"></i>
                    Update
                </div>
                <div class="ui error message"></div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.ui.form1').form({
            fields: {
                oldPassword: {
                    identifier: 'OldPassword',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter old password'
                    }]
                },
                newPassword: {
                    identifier: 'NewPassword',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter new password'
                    }]
                },
                confirmPassword: {
                    identifier: 'ConfirmPassword',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please confirm password'
                    }]
                },
            }
        });
    </script>
}