@using EBBProc.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_StagbAccessControlLayout.cshtml";
}

<h2></h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1 class="ui header center aligned">
                    <img src="~/Content/theme/stagb/img/logo.png" alt="stagblogo" class="ui image">
                    <div class="content">
                    </div>
                </h1>
                <h4>@ViewBag.Title.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="field">
                    @Html.LabelFor(m => m.Email)
                    <div class="ui fluid icon input">
                        @Html.TextBoxFor(m => m.Email, new { @style = "width:100%!important;min-width:100%;width:100%;" })
                        @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.Password)
                    <div class="ui fluid icon input">
                        @Html.PasswordFor(m => m.Password, new { @style = "width:100%!important;min-width:100%;width:100%;" })
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui teal right labeled icon button fluid">
                        Login
                        <i class="icon sign in"></i>
                    </button>
                    <a class="ui blue right labeled icon button fluid" href="@Url.Action("Register")">
                        Sign Up
                        <i class="icon spy"></i>
                    </a>
                    <a class="ui red right labeled icon button fluid" href="@Url.Action("ForgotPassword")">
                        Forgot your password
                        <i class="icon question"></i>
                    </a>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}