@model EBBProc.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_StagbAccessControlLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="field">
        @Html.LabelFor(m => m.Email)
        <div class="ui fluid icon input">
            @Html.TextBoxFor(m => m.Email, new { @style = "width:100%!important;min-width:100%;width:100%;" })
        </div>
    </div>
    <div class="field">
        @Html.LabelFor(m => m.Password)
        <div class="ui fluid icon input">
            @Html.PasswordFor(m => m.Password, new { @style = "width:100%!important;min-width:100%;width:100%;" })
        </div>
    </div>
    <div class="field">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div class="ui fluid icon input">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @style = "width:100%!important;min-width:100%;width:100%;" })
        </div>
    </div>
    <div class="field">
        <input type="submit" class="ui red right labeled icon button fluid" value="Reset" />
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
